@using CheeseMVC.Models
@model  List<CheeseCategory>

<ul>
    @foreach (var item in Model)
    {
        <il>@item.Name</il>
    }
</ul>

<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>