@model CheeseMVC.ViewModels.ViewMenuViewModel

@{
    ViewBag.Title = Model.Menu.Name;
}

<ul>
    <li>
    @foreach (var cheeseMenu in Model.Items)
    {
        @cheeseMenu.Cheese.Name
    }


        </li>

</ul>

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id=@Model.Menu.ID>Add Item</a></p>